* {
    font-family: 'Didact Gothic', sans-serif;
    line-height: 1.5;
    font-weight: 100;
    color: #464646;
    background: #F5F2F0;
}

img {
    width: 25px;
    height: 25px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}